*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  /* background-color: lightcyan; */
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding-inline: 8px;
  box-shadow: 4px 4px 8px #ddd;
}

nav.left {
  /* border: 1px dashed blue; */
  width: 320px;
  display: flex;
  gap: 8px;
  align-items: center;
}

nav.left input {
  height: 40px;
  border: none;
  border-radius: 40px;
  padding-inline: 8px;
  font-size: 18px;
  flex-grow: 1;
}

nav.right {
  /* border: 1px dashed blue; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

nav.right .round-icon {
  width: 40px;
  height: 40px;
  background-color: #e4e6eb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

nav.center {
  /* border: 1px dashed blue; */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

nav.center .box-icon {
  /* background-color: antiquewhite; */
    width: 129px;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

nav.center .box-icon:hover {
  background-color: aliceblue;
}

.main-wrapper {
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.sidebar-left {
  border: 1px dashed lightseagreen;
  min-height: 100vh;
  flex-basis: 360px;
}

.news-feed {
  border: 1px dashed lightseagreen;
  min-height: 100vh;
  flex-basis: 680px;
}

.sidebar-right {
  border: 1px dashed lightseagreen;
  min-height: 100vh;
  flex-basis: 360px;
}